[submodule "mrbrAssembly"]
	path = mrbrAssembly
	url = https://github.com/mrbrirup/mrbrAssembly.git
[submodule "canvasUI"]
	path = canvasUI
	url = https://github.com/mrbrirup/canvasUI.git
[submodule "httpServer"]
	path = httpServer
	url = https://github.com/mrbrirup/httpServer.git
